*.DS_Store
*.log
*.pid
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.classpath
.project
.settings
.idea
.gradle
*.iml

webdata/
gradlew
gradle/
gradlew.bat
generated/

classes/
build/
deploy/
out/
/bin/
userfiles/